## List

## List is a Squence

Previously, we learned that Strings are Sequences.

Lists are also Sequence Types.

For Sequences, you can access elements via `index`.

List are definded: `[]`

In [353]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [354]:
letters = ['a', 'b', 'c', 'd', 'e']
print(letters)

['a', 'b', 'c', 'd', 'e']

In [355]:
type(letters)

list

In [356]:
nested_list = ['city', 'name', 4, True, [1, 2, 3], 'A', ['a', 'b']]
nested_list

['city', 'name', 4, True, [1, 2, 3], 'A', ['a', 'b']]

In [357]:
nested_list[0]

'city'

## Lists are Mutable

Strings are Immutable.

Lists are Mutable.

In [358]:
cars = ['audi', 'Ford', 'Mazda']
cars

['audi', 'Ford', 'Mazda']

In [359]:
# mutate the list

cars[0] = 'Audi'
cars

['Audi', 'Ford', 'Mazda']


['Audi', 'Ford', 'Mazda']  |  ['Audi', 'Ford', 'Mazda'] 
  -3       -2       -1            0      1        2

In [360]:
cars[-3]

'Audi'

## Loop Over a List

In [361]:
cars = ['Audi', 'Ford', 'Mazda']
cars

['Audi', 'Ford', 'Mazda']

In [362]:
for car in cars:
    print(cars)

['Audi', 'Ford', 'Mazda']
['Audi', 'Ford', 'Mazda']
['Audi', 'Ford', 'Mazda']

In [363]:
# we need the index -> enumerate()

for index, car in enumerate(cars):
    print("{0} - {1}".format(index, car))

0 - Audi
1 - Ford
2 - Mazda

We want to change the elemants during the loop.

In [364]:
nums = [1, 2, 3, 4, 5]
nums

[1, 2, 3, 4, 5]

In [365]:
# loop over the list -> multiply elements by 10

for num in nums:
    num *= 10
    print(num)

10
20
30
40
50

In [366]:
for index, num in enumerate(nums):
    
    # calculate the new num
    new_num = num * 10
    
    # update the list via index
    nums[index] = new_num

In [367]:
# cars list
# we will update each car as ' Car' -> Audi Car, Ford Car, Mazda Car

for index, car in enumerate(cars):
    
    cars[index] = car + ' Car'

## List Operations

In Lists +, * (addition and multiplication) operations are allowed.

But with its own logic.

**`+` Operator**

It concatenates lists.

In [368]:
a = [10, 20, 30]

b = [4, 8, 12]

c = a + b
c

[10, 20, 30, 4, 8, 12]

In [369]:

a = [10, 20, 30]

b = [4, 8, 12]

c = ['A', 'B', 'C']

d = a + b + c
d

[10, 20, 30, 4, 8, 12, 'A', 'B', 'C']

In [370]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thusday', 'Friday']
weekend = ['Saturday', 'Sunday']

week = weekdays + weekend

week

['Monday', 'Tuesday', 'Wednesday', 'Thusday', 'Friday', 'Saturday', 'Sunday']

In [371]:
4 * week

['Monday',
 'Tuesday',
 'Wednesday',
 'Thusday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thusday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thusday',
 'Friday',
 'Saturday',
 'Sunday',
 'Monday',
 'Tuesday',
 'Wednesday',
 'Thusday',
 'Friday',
 'Saturday',
 'Sunday']

## List Slicing

In [372]:

my_list = ['a', 'b', 'c', 'd', 'e', 'f']
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [373]:
# we want elements from index 1 to 4 (exc)

my_list[1:4]

['b', 'c', 'd']

In [374]:
# ommit 0 for start

my_list[:4]

['a', 'b', 'c', 'd']

In [375]:
# copy the reverse of the list

my_list_copy_reverse = my_list[::-1]
my_list_copy_reverse

['f', 'e', 'd', 'c', 'b', 'a']

## List Copying and Ids

Copying -> Create a NEW List

In [376]:
my_list = ['a', 'b', 'c', 'd', 'e', 'f']
my_list

['a', 'b', 'c', 'd', 'e', 'f']

In [377]:
my_list_copy = my_list[:]
my_list_copy

['a', 'b', 'c', 'd', 'e', 'f']

In [378]:
my_list_copy_2 = my_list[:]
my_list_copy_2

['a', 'b', 'c', 'd', 'e', 'f']

In [379]:
print('My List:', my_list)
print('My List Copy', my_list_copy)
print('My List Copy 2', my_list_copy_2)

My List: ['a', 'b', 'c', 'd', 'e', 'f']
My List Copy ['a', 'b', 'c', 'd', 'e', 'f']
My List Copy 2 ['a', 'b', 'c', 'd', 'e', 'f']

**`id` method**

In [380]:
id(my_list)

140341234138240

## List Methods

Built-in List Methods:

* append() : adds an element at the end of the list
* insert() : adds an element at specified index
* extend() : concats list to another
* sort()   : sorts the list (in-place)
* sorted() : sorts the list and returns a new list (doesn't mutate the original)

In [381]:
letters = ['a', 'b', 'c', 'd', 'e']
letters

['a', 'b', 'c', 'd', 'e']

**append()**

In [382]:
letters.append('f')
letters

['a', 'b', 'c', 'd', 'e', 'f']

In [383]:
vowels = ['a', 'e', 'i', 'o', 'u']
vowels

['a', 'e', 'i', 'o', 'u']

**insert():**

In [384]:
# insert 'E' after 'e'

vowels.insert(2, 'E')
vowels

['a', 'e', 'E', 'i', 'o', 'u']

**extend():**

In [385]:
letters = ['a', 'b', 'c', 'd', 'e']

t = [1, 2, 3, 4, 5, 6, 7, 8, 9]

**sort():**

In [386]:
# sorts the list in-place

t.sort()
t

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**reverse:**

* `reverse=False` -> sorts ascending (default)
* `reverse=True` -> sorts descending

In [387]:
# reverse parameter

a = ['c', 'b', 'a', 'd']
a

['c', 'b', 'a', 'd']

In [388]:
# a.sort()
a.sort(reverse=False)
a

['a', 'b', 'c', 'd']

**sorted():**

In [389]:
a = ['c', 'b', 'a', 'd']
a

['c', 'b', 'a', 'd']

In [390]:
# sorted(<list>)

b = sorted(a)
b

['a', 'b', 'c', 'd']

In [391]:
# sort in reverse order

d = sorted(a, reverse=True)

## Deleting Elements from a List

We have various ways to delete elements from a list:

* 1 - If we know the index to delete -> **pop(index)**

**pop(index)** removes the element from the list and returns that element.

In [392]:
a_list = ['x', 'y', 'z', 't']
a_list

['x', 'y', 'z', 't']

In [393]:
# delete element -> index 2

deleted_element = a_list.pop(2)

**pop()**: With no index -> pop() deletes the last element.

In [394]:
del_el = a_list.pop()

In [395]:
del_el

't'

* 2 - We do not need the deleted element-> **del**

**del** removes the element from the list and returns None.

In [396]:
my_list = ['k', 'l', 'm', 'n', 'o']
my_list

['k', 'l', 'm', 'n', 'o']

In [397]:
# delete element at index 3

del my_list[3]

* 3 - We know the element itself to delete -> **remove(element)**

**remove(element)** removes the element from the list.

In [398]:
my_list = ['k', 'l', 'm', 'n', 'o', 'p', 'r']
my_list

['k', 'l', 'm', 'n', 'o', 'p', 'r']

In [399]:
my_list.remove('m')

## List & String

String is a sequence of characters.

List is a sequence of values.

To convert a String into a List -> `list()`

In [400]:
day = 'Monday'
day

'Monday'

In [401]:
type(day)

str

In [402]:
day_letters = list(day)
day_letters

['M', 'o', 'n', 'd', 'a', 'y']

In [403]:
text = 'today is another day'
text

'today is another day'

**split():**

In [404]:
# get the words -> split()

words = text.split()
words

['today', 'is', 'another', 'day']

In [405]:
# split from another char -> -

mailbox = 'spam-spam-ham-spam-ham'
mailbox

'spam-spam-ham-spam-ham'

In [406]:
mails = mailbox.split('-')
mails

['spam', 'spam', 'ham', 'spam', 'ham']

**join():**

Opposite of split.

In [407]:
words = ['monday', 'is', 'the', 'first', 'day']
words

['monday', 'is', 'the', 'first', 'day']

In [408]:
# join() is a string method

sentence = '-'.join(words)
sentence

'monday-is-the-first-day'

`join() is opposite of split()`

## Creating a List with Range Function

In [409]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [410]:
my_range = range(2, 33, 3)

In [411]:
range_list = list(my_range)

range_list

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32]

## Objects and Values

In [412]:
# Strings

a = 'apple'

b = 'apple'

In [413]:
id(a)

140341232624560

In Python these two varibles:

a and b
* have the same values
* they are **Immutable** (str)

Since their values are the same, and they are Immutable,

Pyhton did not created two seprate varibles, instead it assign both to the same address.

To save memory.

In [414]:
b = 'orange'
b

'orange'

In [415]:
id(a)

140341232624560

From now on, a and b are NOT the same variable.

Since we changed the value of b, Python has created a new address (id) for b.

In [416]:
id(a) == id(b)

False

In [417]:
# Lists

x = [1, 2, 3]

y = [1, 2, 3]


**x == y** check -> equality

    * it checks values of two variables 


**id(x) == id(y)** check -> identical

    * it checks two objects (address - id)

## is Statement

<pre>
x == y           -> Value Comparison (Equality)

id(x) == id(y)   -> Object Comparison (Identical)
</pre>

In [418]:
a = [1, 2, 3, 4, 5]

b = [1, 2, 3, 4, 5]

In [419]:
# values of a and b

a == b

True

In [420]:
id(a) == id(b)

False

## Aliasing

Aliasing means different names referring the same object.

x  ----------------> Object A

y  ----------------> Object A

Since x and y refers to the same object (A) they are aliases.

**In Python Types are:**

* Primitive Types: int, float, string, bool

* Non-Primitive Types: list, dict, tuple, ...

**Primitive Types:**

In [421]:
x = 24

y = x

In [422]:
x == y

True

**Non-Primitive Types:**

In [423]:
a = [1, 2, 3, 4, 5, 6]

b = a

In [424]:
# equality check

a == b

True

In [425]:
# identical check

a is b

True

In [426]:
print('a:', a)
print('b:', b)

a: [1, 2, 3, 4, 5, 6]
b: [1, 2, 3, 4, 5, 6]

Non-Primitive Type -> Reassignment

In [427]:
b = [10, 20, 30, 40, 50, 60]

In [428]:
print('a:', a)
print('b:', b)

a: [1, 2, 3, 4, 5, 6]
b: [10, 20, 30, 40, 50, 60]

What if we **mutate** b?

In [429]:
a = [1, 2, 3, 4, 5, 6]

b = a

In [430]:
a == b

True

In [431]:
a is b

True

In [432]:
# mutate b

b[0] = 'A'
b[1] = 'B'

In [433]:
print('a:', a)
print('b:', b)

a: ['A', 'B', 3, 4, 5, 6]
b: ['A', 'B', 3, 4, 5, 6]

For **Mutabale** types **mutation** does not break aliasing.

a and b are still the same  object, because we mutated b.

## List as Function Argument

### Mutate the List inside the function

In [434]:
# Example

letters = ['a', 'b', 'c']

print("before passing to function:", letters)


def add_upper_cases(list_of_letters):
    # mutation
    list_of_letters.insert(1, 'A')
    list_of_letters.insert(3, 'B')
    list_of_letters.insert(5, 'C')
    

# call the function with the list
add_upper_cases(letters)


print("before passing to function:", letters)

before passing to function: ['a', 'b', 'c']
before passing to function: ['a', 'A', 'b', 'B', 'c', 'C']

In [435]:
letters

['a', 'A', 'b', 'B', 'c', 'C']

When you pass a Non-Primitive Type (List) as a function parameter:

* the pass by reference (they pass as the same objcet)
* if you mutate the parameter inside the function -> original list will be mutated

### Reassing the List inside the function

In [436]:
# Example

letters = ['a', 'b', 'c']

print("before passing to function:", letters)


def add_upper_cases(list_of_letters):
    # reassignment
    list_of_letters = ['X', 'Y', 'Z']
    

# call the function with the list
add_upper_cases(letters)


print("before passing to function:", letters)

before passing to function: ['a', 'b', 'c']
before passing to function: ['a', 'b', 'c']

When you pass a Non-Primitive Type (List) as a function parameter:

* the pass by reference (they pass as the same objcet)
* if you reassign the parameter inside the function -> 
    * Python will create a new list object inside the function
    * original list will not be changed

## Matrix Operations

In Python, a list can include other lists (`nested lists`).

A Matrix in Math is just a nested list in Python.

$$ A = \begin{bmatrix} 1 & 2 & 3 \\ 4 & 5 & 6 \\ 7 & 8 & 9 \end{bmatrix} $$
                       
$$ B = \begin{bmatrix} 10 & 20 & 30 \\ 
                       40 & 50 & 60 \\
                       70 & 80 & 90 \end{bmatrix} $$

In [437]:
A = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

In [438]:
B = [[10, 20, 30],
     [40, 50, 60],
     [70, 80, 90]]

In [439]:
A[0]

[1, 2, 3]

In [440]:
A[1]

[4, 5, 6]

In [441]:
B[0]

[10, 20, 30]

**Matrix Addition:**

C = A + B

In [442]:
C = A + B

In [443]:
C

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 20, 30], [40, 50, 60], [70, 80, 90]]

In Python, list addition is **not element wise** it is just a concationation of lists.

**Element Wise Addition:**

* numpy, pandas

In [444]:
# initialize the result matrix as zeros

C = [[0, 0, 0],
     [0, 0, 0],
     [0, 0, 0]]

In [445]:
len(A)

3

In [446]:
len(B)

3

In [447]:
C[0][1]

0

In [448]:
# loops -> nested loop

# iterate over rows of A
for i in range(len(A)):
    
    # iterate over columns of B
    for j in range(len(B)):
        print(A[i][j])
        print(B[i][j])
        
        C[i][j] = A[i][j] + B[i][j]

1
10
2
20
3
30
4
40
5
50
6
60
7
70
8
80
9
90

In [449]:
C

[[11, 22, 33], [44, 55, 66], [77, 88, 99]]

## Question

**Q 1:**

Define a function named **sum_of_list**.

The parameter will be a list.

The function will add all the elements in the list and return the summation result.

<pre>
Expected Output:
nums = [1, 2, 3, 4, 5] 
sum_of_list(nums) -> 15
</pre>

In [450]:
# S 1:

def sum_of_list(a_list):
    
    # variable to keep sum
    summation = 0
    
    for i in a_list:
        # control for being integer
        if str(i).isdigit():
            summation += i
        
    return summation

In [451]:
nums = [1, 2, 3, 4, 5, 'a'] 

summation = sum_of_list(nums)

print(summation)

15

In [452]:
nums = [10, 20, 30, 40, 500] 

summation = sum_of_list(nums)

print(summation)

600

**Q 2:**

Define a function named **two_levels_sum**.

The parameter will be a list of two levels (nested list).

The function will add all the elements including the nested lists and return the summation result.

**Hints:**
* isdigit()
* type()

<pre>
Expected Output:
a_list = [[5, 8], [1, 4, 7], [10], 3]
summation = two_levels_sum(a_list)  -> 38
</pre>

In [453]:
def two_levels_sum(p_list):
    summation = 0
    for item in p_list:
        if type(item) == list:
            for innter_item in item:
                if str(innter_item).isdigit():
                    summation += innter_item
        elif str(item).isdigit():
            summation += item

    return summation

In [454]:
a_list [[5,8], [1,4,7], [10], 3]
summation = two_levels_sum(a_list)

print(summation)

TypeError: list indices must be integers or slices, not tuple

In [ ]:
a_list = [[5, 8], [1, 4, 7], [10], 3, 'a']

summation = two_levels_sum(a_list)

print(summation)

In [ ]:
def nested_sum(p_list):
    summation = 0

    for item in p_list:
        if type(item) == int:
            summation += item
        elif type(item) == list:
            summation += nested_sum(item)
    return summation

In [ ]:
a_list = [[5, 8], [1, 4, 7, [8, 2]], [10, [-1, 2]], 3]

summation = nested_sum(a_list)
print(summation)

In [ ]:
a_list = [[-5, [9, 1, [6, 2]], 8], [1, 4, 7, [8, 2]], [10, [-1, 2]], 3]

summation = nested_sum(a_list)

print(summation)

**Q 4:**

Define a function named **squares**.

It will calculate the square of each item in the list and append it to a new list.

It will return the new list of squares.

<pre>
numbers = [1,2,3,4,5]
squares(numbers)  ->   [1, 4, 9, 16, 25]

</pre>

In [ ]:
def squares(p_list):
    new_list = list()

    for i, element in enumerate(p_list):
        new_list.append(element ** 2)

    return new_list

In [ ]:
numbers = [1,2,3,4,5]

result = squares(numbers)

print(result)

**Q 5:**

Define a function named **sum_of_squares**.

It will calculate the squares of items first and will add them to create items of a new list.

Each item in the new list will be the sum of items from the old list starting from index 0 up to the item's index.

For example in the new list the item in index 4 is going to be the sum of squares of items at indices 0-1-2-3-4 of parameter list.

And it will retun the new list.

**Hints:**
* use sum_of_list funtion you defined in Q1

<pre>
a_list = [1,2,3,4,5]
result = sum_of_squares(a_list)
print(result)

Expected Output:
[1, 5, 15, 37, 83]
</pre>

In [ ]:
def sum_of_squares(p_list):
    new_list = []

    for element in p_list:
        new_list_total = sum_of_list(new_list)
        new_total = new_list_total + element ** 2

        new_list.append(new_total)
    return new_list

In [ ]:
a_list = [1,2,3]

result = sum_of_squares(a_list)

print(result)

**Q 6:**

Define a function that return the difference between items at odd indices (1,3,5...) and items at even indices (0,2,4...).

The function name will be **odd_even_difference**.

**Hints:**
* index starts from zero
* use lists and indices only
* do not use loop
* use sum_of_list funtion you defined in Q1

<pre>
a_list = [1,2,3,4,5,6]
diff = odd_even_difference(a_list)
print(diff)

Expected Output:
3
</pre>

In [ ]:
def odd_even_difference(p_list):
    odds = p_list[1::2]
    
    # odd summation
    odds_sum = sum_of_list(odds)
    
    # even elements
    evens = p_list[::2]
    
    # event summation
    evens_sum = sum_of_list(evens)

    # get difference
    diff = odds_sum - evens_sum
    
    return diff

In [ ]:
a_list = [1,2,3,4,5,6]

diff = odd_even_difference(a_list)

print(diff)

In [ ]:
a_list = [10,10,30,30,500,500]

diff = odd_even_difference(a_list)

print(diff)

**Q 7:**

Define a function that crop the list parameter.

The function will be **crop_the_list**.

Cropping means remove the first and the last elements from the list.

The function will **mutate the originial list parameter** namely it will modify the list in-place.

It will not return any value.

Test the function and prove it mutates the list which you pass as argument.

<pre>    
nums = [1,2,3,4,5,6,7]
print('the list before passing as parameter:', nums)
crop_the_list(nums)
print('the list before passing as parameter:', nums)

Expected Output:
the list before passing as parameter: [1, 2, 3, 4, 5, 6, 7]
the list before passing as parameter: [2, 3, 4, 5, 6]
</pre>

In [ ]:
# S 7:

def crop_the_list(p_list):
    
    # remove the first element
    p_list.pop(0)
    
    # remove the final element
    p_list.pop()

In [ ]:
nums = [1,2,3,4,5,6,7]

print('the list before passing as parameter:', nums)

crop_the_list(nums)

print('the list before passing as parameter:', nums)

**Q 8:**

Define a function named **sort_the_list**.

It will take a list and sort type (is_reverse) as parameters.

**is_reverse** will be boolean and it will decide if the sort will be ascending or descending. It's default value will be False.
* if is_reverse is True -> sort will be descending
* if is_reverse is False -> sort will be ascending

The function will return the new sorted list.

**Hints:**
* sorted()
* no loops
* do not mutate the original list

<pre>
a = [12, 4, 2, 1, 6, 3, 45]
print('a:', a)
sorted_a = sort_the_list(a, False)
print('sorted - ascending', sorted_a)
sorted_a = sort_the_list(a, True)
print('sorted - descending', sorted_a)
print('a after sort_the_list function call:', a)

Expected Output:
a: [12, 4, 2, 1, 6, 3, 45]
sorted - ascending [1, 2, 3, 4, 6, 12, 45]
sorted - descending [45, 12, 6, 4, 3, 2, 1]
a after sort_the_list function call: [12, 4, 2, 1, 6, 3, 45]
</pre>

In [ ]:
def sort_the_list(p_list, is_reverse=False):
    sorted_list = []

    if is_reverse:
        sorted_list = sorted(p_list, reverse=is_reverse)
    else:
        sorted_list = sorted(p_list)

    return sorted_list

In [ ]:
a = [12, 4, 2, 1, 6, 3, 45]
print('a:', a)

sorted_a = sort_the_list(a, False)
print('sorted - ascending', sorted_a)

sorted_a = sort_the_list(a, True)
print('sorted - descending', sorted_a)

print('a after sort_the_list function call:', a)

In [ ]:
# S 8:

# Second Way

def sort_the_list(p_list, is_reverse = False):
    
    return sorted(p_list, reverse=is_reverse)

In [ ]:
a = [12, 4, 2, 1, 6, 3, 45]
print('a:', a)

sorted_a = sort_the_list(a, False)
print('sorted - ascending', sorted_a)

sorted_a = sort_the_list(a, True)
print('sorted - descending', sorted_a)

print('a after sort_the_list function call:', a)

**Q 9:**

The Consecutive Numbers in Math are actually Lists in Python.

**Gauss' Method for Summing Consecutive Numbers** is a method that gives you the summation of numbers.

And that's how Gauss' Method works:
* First it sorts the list in ascending order
* Then sorts the list in descending order
* Adds the items in both lists at the same index
* Divides the overall summation by 2 (because each element is written 2 times)

Example: Sum of all integers from 1 to 10.

<pre>
1   2   3   4   5   6   7   8   9   10
10  9   8   7   6   5   4   3   2   1
+   +   +   +   +   +   +   +   +   +
11  11  11  11  11  11  11  11  11  11    (pairwise sum)

Summation = 11 * 10
Result = Summation / 2
</pre>

In this question you are going to sum all the number starting from 2 up to 100 with step size 3.

You should use Gauss' Method in Python to calculate the overral sum.

The function name will be **gauss** and the parameters and default values will be:
* start -> 1
* end -> 100
* step_size -> 2

**Hints:**
* use range() to create the list

<pre>
conseq_sum = gauss(2, 100, 3)
conseq_sum

Expected Output:
1650.0
</pre>

In [ ]:
def gauss(start=1, end=100, step=2):
    a_list = list(range(start,end, step))

    r_list = a_list[::-1]

    summation = 0

    for i in range(len(a_list)):
        pair_sum = a_list[i] + r_list[i]
        summation += pair_sum

    result = summation / 2

    return result

In [ ]:
conseq_sum = gauss(1, 10, 1)
conseq_sum

In [ ]:
# S 9:

# Second Way
# True Gaussian Way

def true_gaussian(start=1, end=100, step=2):
    
    # create a list with range()
    a_list = list(range(start, end, step))
    
    summation = 0
    
    for i in range(len(a_list)):
        
        pair_sum = a_list[i] + a_list[-i-1]
        
        summation += pair_sum
        
    
    return summation / 2

In [ ]:
conseq_sum = true_gaussian(1, 10, 1)
conseq_sum

**Q 10:**

Define a function to check if a given list is sorted in descending order or not.

The function name will be **is_it_sorted_descending**.

It will return True if the list items are in descending order, False otherwise.

**Hints:**
* solve this questions with 4 different ways :)

<pre>
a_list = [2, 3, 4, 7]
is_it_sorted_descending(a_list)
Expected Output: False

a_list = [7, 7, 4, 3, 2, 1, 1]
is_it_sorted_descending(a_list)
Expected Output: True

a_list = ['a', 'b', 'c', 'd']
is_it_sorted_descending(a_list)
Expected Output: False

a_list = ['d', 'c', 'b', 'a']
is_it_sorted_descending(a_list)
Expected Output: True
</pre>

In [456]:
# S 10:

# Way 1:
# Nested Loops
# Least Pythonic

def is_it_sorted_descending(p_list):
    
    for i, item_1 in enumerate(p_list):
        
        for j, item_2 in enumerate(p_list):
            
            if j > i:
                if item_2 > item_1:
                    return False
                
    return True

In [457]:
a_list = [2, 7, 3, 4]
is_it_sorted_descending(a_list)

False