# Tuple

## Tuple Creation

Tuple is a Sequence Type like String and List.

They can take any type as elements.

Tuple's are indexed by integers (implicitly).

They look like List.

Main Difference:
* List -> Mutable
* Tuple -> Immutable

**Tuple** is a sequence seperated by comma.

**Creating a Tuple by assigning elements seperated with comma**

In [158]:
t = 'x', 'y', 'z', 'q', 'p'
t

('x', 'y', 'z', 'q', 'p')

In [159]:
type(t)

tuple

In [160]:
t2 = (1, 2, 4, 6, 8, 20)
t2

(1, 2, 4, 6, 8, 20)

In [161]:
type(t2)

tuple

In [162]:
isinstance(t2, tuple)

True

In [163]:
one_tuple = ('x')
one_tuple

'x'

**Answer:**
    
You add a comma after the element.

In [164]:
one_tuple = ('x',)
one_tuple

('x',)

**Create Tuple with -> `tuple()`**

In [165]:
t = tuple()
t

()

In [166]:
isinstance(t, tuple)

True

**tuple()** -> enter a **string**, it will convert into a Tuple

In [167]:
lang = tuple('Python')
lang

('P', 'y', 't', 'h', 'o', 'n')

**tuple()** -> enter a **list**, it will convert into a Tuple

In [168]:
my_list = ['A', 'B', 'C', 'D']

list_tuple = tuple(my_list)

list_tuple

('A', 'B', 'C', 'D')

In [169]:
type(list_tuple)

tuple

If there is indexing in a type -> `slicing`

In [170]:
text = 'Moon is the orbit of Earth.'

In [171]:
tup = tuple(text)

print(tup)

('M', 'o', 'o', 'n', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'o', 'r', 'b', 'i', 't', ' ', 'o', 'f', ' ', 'E', 'a', 'r', 't', 'h', '.')

`slicing[start, end, step]`

In [172]:
# slicing
# the word -> Moon

tup[0:4]

('M', 'o', 'o', 'n')

In [173]:
# negative index -> start -1, right to left
# Earth.
# [-6 -5 -4 -3 -2] -1

tup[-6:-1]

('E', 'a', 'r', 't', 'h')

In [174]:
# copy the whole tuple

new_tup = tup[::]

print(new_tup)

('M', 'o', 'o', 'n', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'o', 'r', 'b', 'i', 't', ' ', 'o', 'f', ' ', 'E', 'a', 'r', 't', 'h', '.')

**Tuples are Immutable**

In [175]:
t = tuple([0,1,2,34,5])

t

(0, 1, 2, 34, 5)

In [176]:
(1, 2, 3) < (5, 4, 3)

True

**Important:**

In Tuple Assingment, number of variables must be the same for both sides.

**Example:**

Split the user name and domain name from an email via Tuple Assingment.

In [177]:
'johndoe@example.com'.split('@')

['johndoe', 'example.com']

In [178]:

user_name, domain = 'johndoe@example.com'.split('@')

print(user_name)
domain

johndoe

'example.com'

In [179]:
my_list = ['A', 'B', 'C', 'D']

my_list

['A', 'B', 'C', 'D']

In [180]:
# unpack list elements into seperate variables

a, b, c, d = my_list

In [181]:
print('a:', a)
print('b:', b)
print('c:', c)
print('d:', d)

a: A
b: B
c: C
d: D

## Tuples and Functions

You may notice that, functions can return only one value.

**Question:** What we will do if we want the function to return multiple values.

**Answer:** `Tuple`

**As an example:**

`divmod()` function takes two parameters: 
* dividend
* divisor

And returns a tuple of two results:
* quotient
* remainder

In [182]:
# divide 23 by 4

result = divmod(23, 4)

result

(5, 3)

In [183]:
# create seperate variables -> quotient, remainder

quotient = result[0]
print('quotient:', quotient)

remainder = result[1]
print('remainder:', remainder)

quotient: 5
remainder: 3

In [184]:
# tuple assignment
# unpacking

quotient, remainder = divmod(23, 4)

print('quotient:', quotient)
print('remainder:', remainder)

quotient: 5
remainder: 3

**Example:**

Define a function with unknown parameters (*args).

The fn will return the summation and multiplication result of these parameters.

In [185]:

def sum_and_multiply(*args):
    
    print(args)
    print(type(args))

In [186]:
sum_and_multiply(2, 5, 4, 3)

(2, 5, 4, 3)
<class 'tuple'>

In [187]:
# let's define


def sum_and_multiply(*args):
    
    # summation
    summation = sum(args)
    
    # multiplication -> for loop
    multiplication = 1
    for arg in args:
        multiplication *= arg    
        
    # return both results
    return (summation, multiplication)

In [188]:
sum_and_multiply(2, 5, 4, 3)

(14, 120)

**Example:**

Define a function taking a list as parameter.

It will return:
* min
* max
* mean (average)

Use statistics for mean.

In [189]:
# import the modules
import statistics

def simple_stats(a_list):
    
    # minimum
    minimum = min(a_list)
    
    # maximum
    maximum = max(a_list)
    
    # mean
    mean = statistics.mean(a_list)
    
    # return -> tuple(min, max, average)
    return (minimum, maximum, mean)

In [190]:
my_list = [1, 2, 3, 4, 5]

minimum, maximum, average = simple_stats(my_list)

print('minimum:', minimum)
print('maximum:', maximum)
print('average:', average)

minimum: 1
maximum: 5
average: 3

## zip() Function

In Python most of the time we need to use Lists and Tuples together.

We will learn `zip()` function to see how we manage this.

`zip()` function takes two or more Sequence Type parameters.

**Sequence Type:** A type, you can access its elements via indices (int and implicit).
* List
* Tuple
* String
* Range

`zip()` 
* takes the corresponding elements (with the same indices) from the parameters
* returns them as Zip Object (containing Tuples)

In [191]:
text = 'xyzt'
a_list = [1, 2, 3, 4]


# zip the text and the list
zip_obj = zip(text, a_list) 

print(zip_obj)

<zip object at 0x7f957036a800>

`zip object` is an **iterator**.

**Iterator:** is an object which you can loop over it.

In [192]:
# loop over zip_obj

for z in zip_obj:
    print(z)

('x', 1)
('y', 2)
('z', 3)
('t', 4)

As you see, each element in the zip object is a Tuple.
* First element is from the String
* Second element is from the List

In [193]:
# zip_obj[0]

You may ask: 

How is this possible? We alredy loop over it and it returned a list of Tuples.

Yes you are right.

But you can loop over an iterator only once.

Python will stop iterating when you reach to the end of iterator.

That's necessary to prevent infinite looping.

If you need to loop over the iterator more than once, you can assign it to a list.

In [194]:
d1 = ['A', 'B', 'C', 'D', 'E']
d2 = [10, 20, 30, 40, 50]

new_zip = zip(d1, d2)

print(new_zip)

<zip object at 0x7f957037ad00>

In [195]:
zip_list = list(new_zip)

zip_list

[('A', 10), ('B', 20), ('C', 30), ('D', 40), ('E', 50)]

In [196]:
for z in zip_list:
    print(z)

('A', 10)
('B', 20)
('C', 30)
('D', 40)
('E', 50)

**Question:**

What happens if the parameters are in different length?

In [197]:
d1 = ['A', 'B', 'C', 'D', 'E']
d2 = [10, 20, 30]

new_zip = zip(d1, d2)

print(new_zip)

<zip object at 0x7f9570369740>

In [198]:
# assing the zip object to a list

zip_list = list(new_zip)

zip_list

[('A', 10), ('B', 20), ('C', 30)]

In [199]:
len(zip_list)

3

**Example:**

Check the corresponding elements (at the same index) of two lists.

And print them if they are equal. (common elements)

In [200]:
l1 = ['a', 'B', 'C', 'd', 'e', 'F']
l2 = ['A', 'B', 'c', 'd', 'E', 'F']

for e1, e2 in zip(l1, l2):
    
    if e1 == e2:
        print(e1)

B
d
F

## Tuple & Dictionary

We learned that to get the elements of a Dictionary -> `items()`

And this **items()** returns a list of **Tuples**.

In [201]:
# ASCII codes of first 3 letters

asciis = {
    'A': ord('A'),
    'B': ord('B'),
    'C': ord('C'),
    'a': ord('a'),
    'b': ord('b'),
    'c': ord('c')
}

asciis

{'A': 65, 'B': 66, 'C': 67, 'a': 97, 'b': 98, 'c': 99}

In [202]:
# items()

asciis.items()

dict_items([('A', 65), ('B', 66), ('C', 67), ('a', 97), ('b', 98), ('c', 99)])

In [203]:
# loop over items

for key, value in asciis.items():
    print(key, value)

A 65
B 66
C 67
a 97
b 98
c 99

**Remainder:**

Dictionaries are not ordered types.

We can not expect its items to be ordered.

Because Dictionary does not use implict integer indexing.

**Convert Tuple List into a Dictionary:**

We saw that **items()** returns the elements of a Dictionary as a list of Tuples.

Now let's do the opposite.

This time we will a list of Tuples and convert it into a Dictionary.

In [204]:
months_days = [
    ('January', 31),
    ('February', 28),
    ('March', 31),
    ('April', 30)
]

months_days

[('January', 31), ('February', 28), ('March', 31), ('April', 30)]

In [205]:
months = dict(months_days)

months

{'January': 31, 'February': 28, 'March': 31, 'April': 30}

**Example:**

Use `zip()` and `range()` functions to create a Dictionary of days in a week.
* 1: Monday
* 2: Tuesday
* 3: Wednesday
* 4: Thursday
* 5: Friday
* 6: Saturday
* 7: Sunday

In [206]:
# Solution:

day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
numbers = range(1, 8)

days = zip(numbers, day_names)

print(days)

<zip object at 0x7f957037b4c0>

In [207]:
# convert the zip object (iterartor of list of tuples)

days_dict = dict(days)

print(days_dict)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday', 7: 'Sunday'}

**Tuple as Dictionary Key:**

We have learned that the `key` of a Dictionary must be `Immutable` type.

Since Tuples are Immutable, we can assign them as Dictionary keys.

**Example:**

We want to store the students names and grades in a dictionary.

`(FirstName, LastName)` will be the key and `Grade` will be the value.

<pre>
student_grades = {
    ('Musa', 'Arda'): 'AA',
    ('Bruce', 'Wayne'): 'DC',
    ('Klark', 'Kent'): 'FF',
    ('Peter', 'Parket'): 'FD'
}
</pre>

In [208]:
# Solution

# create lists
names = ['Musa', 'Bruce', 'Klark', 'Peter']
lastnames = ['Arda', 'Wayne', 'Kent', 'Parker']
grades = ['AA', 'DC', 'FF', 'FD']

# empty dict
student_grades = {}

# loop over 3 list simultaniously -> zip()
for name, lastname, grade in zip(names, lastnames, grades):
    
        student_grades[(name, lastname)] = grade

student_grades

{('Musa', 'Arda'): 'AA',
 ('Bruce', 'Wayne'): 'DC',
 ('Klark', 'Kent'): 'FF',
 ('Peter', 'Parker'): 'FD'}

## `lambda` Function as Key

Some built-in Python functions expect a declaration to execute.

We have to declare them how to process.

This declaration is a function actully.

We have to pass a function as parameter.

We saw `lambda` function before.

Now we will use the lambda function as function parameters.

For example:

For sorting Python has two functions: `sort()` and `sorted()`

* sort()
    * list.sort(reverse=True|False, **key=myFunc**)
    
* sorted()
    * sorted(list, **key=myFunc**, reverse=True|False)

As you see, the **myFunc** that we pass to **key** parameter is our function.

First we will, create a normal function and pass it to **key** parameter.

Then we will do the same thing with lambda function.

In [209]:
cars = ('Mercedes', 'Audi', 'BMW', 'Porsche', 'VW')

**Example:**

Sort the cars tuple by length of elements in ascending order. (number of chars in elements)

**Define a Named Function**

In [210]:

def myFunc(e):
    return len(e)

In [211]:
myFunc('Audi')

4

In [212]:
# sorted()

# sorted() returns a list of sorted elements

sorted(cars, key = myFunc)

['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

In [213]:
# sort()

# sort() is a list function -> operates on lists

cars_list = list(cars)
print(cars_list)

# sort() -> sorts in place -> mutates the list
cars_list.sort(key=myFunc)

print("---- after sort() ----")
print(cars_list)

['Mercedes', 'Audi', 'BMW', 'Porsche', 'VW']
---- after sort() ----
['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

**lambda Function**

**lambda:** one line, anomymous function.

In [214]:
# sorted()

cars

('Mercedes', 'Audi', 'BMW', 'Porsche', 'VW')

In [215]:
sorted(cars, key = lambda e: len(e))

['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

In [216]:
# sort()

cars_list = list(cars)

cars_list.sort(key=lambda e: len(e))

print(cars_list)

['VW', 'BMW', 'Audi', 'Porsche', 'Mercedes']

**Question:**

So far, we didn't pass any **key** parameter into sorted() or sort().

How do they do the sorting?

**Answer:**

They use standard sorting:
* numbers -> numeric sort
* str -> alphabetical sort

In [ ]:
# Example:

numbers = (2, 1, 3, 7, 6, 5, 4)

numbers

In [ ]:
# default -> sorts numeric

sorted(numbers)

In [ ]:
# lambda

# sorted(numbers)  ==== sorted(numbers, key=lambda e: e)

sorted(numbers, key=lambda e: e)