# Variables
## What is a Variable?

**Variable** is a name referring to value.

It is the **name of the address** for that **value** in the memory.

In [1]:
a = 12

In [2]:
a

12

In [3]:
info = "Python name comes from monthy python and holly grail"

In [4]:
print(info)

Python name comes from monthy python and holly grail

In [5]:
pi = 3.1415
print(pi)

3.1415

# Variable

In Python, Variable Names:
* should be meaningful, self-explanatory
* generally we use snake_case

average_car

starting_index

Variable Names Can Not:
* start with a number
    * 1number
    * 3_rd_position

* include space
    * average speed

* include special characters
    * @, -, +, *, etc.
    * @number

* include keywords
    * and, for, return, True, if...

# Python Data Types

In Python Data Types are:
* Text Type: str
* Numeric Types: int, float, complex
* Sequence Types: list, tuple, range
* Mapping Type: dict
* Set Types: set, frozenset
* Boolean Type: bool
* Binary Type: bytes, bytesarray, memoryview

To Get Type of a variabel `type()`

In [6]:
text = "This is a string"
type(text)

str

In [7]:
integer = 16
type(integer)

int

In [8]:
floating_point_number = 4.6
print(type(floating_point_number))

<class 'float'>

In [9]:
my_list = [1,2,3,4]
print(my_list)
type(my_list)

[1, 2, 3, 4]

list

In [10]:
triple = ('A', 'B', 'C')
print(triple)
type(triple)

('A', 'B', 'C')

tuple

In [11]:
to_ten = range(10)
type(to_ten)

range

In [12]:
dictionary = {
    "firstname": "renaldy",
    "lastname": "hidayat",
    "language": "Indonesia"
}

print(dictionary)
type(dictionary)

{'firstname': 'renaldy', 'lastname': 'hidayat', 'language': 'Indonesia'}

dict

In [13]:
set_of_number = set([1,2,3,4,5])
print(set_of_number)
type(set_of_number)

{1, 2, 3, 4, 5}

set

In [14]:
correct = True
type(correct)

bool

In [15]:
a = 30
b = 7

In [16]:
print(a + b)

37

In [17]:
print(a- b)

23

In [18]:
print(a * b)

210

In [19]:
print(a / b)

4.285714285714286

In [20]:
print( a // b)

4

In [21]:
print(a % b)

2

In [22]:
print(a ** b)

21870000000

**Order of Operations:** Parenthesis, Exponents, Division, Multiplication, Addition, Subtraction

`PEDMAS`

In [23]:
print(4 * 5 - 9 + 14 / 7)

13.0

In [24]:
a = 9

# increment a by 1
a = a + 1
a

10

In [25]:
a = a + 4
a

14

In [26]:
a += 1     # a = a + 1
a

15

In [27]:

a -= 6    # a = a - 6
a

9

In [28]:

a *= 5     # a = a * 5
a

45

In [29]:
# Shorthand Division -> /=

a /= 11     # a = a / 11
a

4.090909090909091

## String Operations

In Python, Strings are displayed via **double quotes (" ")** or **single quotes (' ')**.

`Opening and Closing Quotes should match.`

In [30]:
string_double = "This is a double quotes string."
print(string_double)

This is a double quotes string.

In [31]:
import keyword


python_keywords = keyword.kwlist

# print keywords
print(python_keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [32]:
keyword.iskeyword("not")

True

In [33]:
keyword.iskeyword('return')

True

## Question

**Q 1:**

Create a variable named car_model and assign the value 'Volvo' to it.

In [ ]:
car_model = "Volvo"
car_model

**Q 2:**

Create a variable named x and set its value to 50.

In [ ]:
x = 50
x

**Q 3:**

Create two variable x and y. And assing then as 20 and 50 respectively

Create a variable z, and assing x + y to it

Then print z.

x = 20

y = 80

z = x + y

print(z)

In [ ]:
x = 20

y = 80

z = x + y

print(z)

**Q 4:**

Remove forbidden characters from the variable name.

**2my-first_variable*β = "Beta"**

In [ ]:
# S 4:

my_first_variable = "Beta"
print(my_first_variable)

**Q 5:**

Fill in the blanks to assign three variables at the same time.

x ... y ... z = "Python"

In [ ]:
x = y = z = 'Python'

print(x)
print(y)
print(z)