In [1]:
from collections import Counter
 
 
target = ['yes', 'no', 'no', None, 'yes', 'yes', 'no', 'yes']
cnt = Counter(target)
print(cnt)

Counter({'yes': 4, 'no': 3, None: 1})

In [ ]:
from collections import Counter
 
 
poll_1 = {'yes': 140, 'no': 120, None: 12}
poll_2 = {'yes': 113, 'no': 132, None: 9}
 
cnt_1 = Counter(poll_1)
cnt_2 = Counter(poll_2)
 
cnt_total = cnt_1 + cnt_2
print(cnt_total)

In [ ]:
from collections import Counter
 
 
poll_1 = {'yes': 140, 'no': 120, None: 12}
poll_2 = {'yes': 113, 'no': 132, None: 9}
poll_3 = {'yes': 16, 'no': 14}
 
cnt_1 = Counter(poll_1)
cnt_2 = Counter(poll_2)
cnt_3 = Counter(poll_3)
 
cnt_total = cnt_1 + cnt_2 + cnt_3
print(cnt_total['yes'])

In [ ]:
from collections import Counter
 
 
text = 'python programming - introduction'
 
cnt = Counter(text)
print(cnt)

In [ ]:
from collections import Counter
 
 
text = 'python programming - introduction'
 
cnt = Counter(text)
print(cnt.most_common(3))

In [ ]:
from collections import Counter
import re
 
 
text = """"Python is fast enough for our site and allows us to produce maintainable features in record times,
with a minimum of developers," said Cuong Do, Software Architect, YouTube.com.
 
"Python plays a key role in our production pipeline. Without it a project the size of Star Wars:
Episode II would have been very difficult to pull off. From crowd rendering to batch processing to compositing,
Python binds all things together," said Tommy Burnette, Senior Technical Director, Industrial Light & Magic."""
 
tokens = re.findall(r"\w+", text)
tokens = [token.lower() for token in tokens]
cnt = Counter(tokens)
print(cnt.most_common(3))

In [ ]:
from collections import Counter
 
 
fnames = [
    '001_image.png',
    '002_image.png',
    '003_image.jpg',
    '004_image.png',
    '005_image.png',
    '006_image.png',
    '007_image.jpg',
    '008_image.png',
    '009_image.jpg',
    '010_image.jpg',
    '011_image.jpg',
    '012_image.png',
    '013_image.jpg',
    '014_image.jpg',
    '015_image.jpg',
    '016_image.png',
    '017_image.jpg',
    '018_image.jpg',
    '019_image.png',
    '020_image.png',
    '021_image.jpg',
    '022_image.jpg',
    '023_image.png',
    '024_image.png',
    '025_image.jpg',
    '026_image.png',
    '027_image.png',
    '028_image.jpg',
    '029_image.png',
    '030_image.png',
]
 
extensions = [fname.split('.')[1] for fname in fnames]
cnt = Counter(extensions)
print(cnt)

In [ ]:
from collections import ChainMap
 
 
stocks_1 = {'CDR': 400, 'PLW': 490}
stocks_2 = {'PLW': 500, 'TEN': 550, 'BBT': 30}
 
stocks = ChainMap(stocks_1, stocks_2)
print(stocks)

In [ ]:
from collections import ChainMap
 
 
stocks_1 = {'CDR': 400, 'PLW': 490}
stocks_2 = {'PLW': 500, 'TEN': 550, 'BBT': 30}
 
stocks = ChainMap(stocks_1, stocks_2)
print(stocks['PLW'])

In [ ]:
from collections import ChainMap
 
 
techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
finance = {'Citigroup': 51, 'Allianz': 180}
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}
 
stocks = ChainMap(techs, finance, gaming)
print(stocks['Samsung'])

In [ ]:
from collections import ChainMap
 
 
techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
finance = {'Citigroup': 51, 'Allianz': 180}
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}
 
stocks = ChainMap(techs, finance, gaming)
techs['Microsoft'] = 210
print(stocks['Microsoft'])

In [ ]:
from collections import ChainMap
 
 
techs = {'Apple': 370, 'Samsung': 1100, 'Microsoft': 201}
finance = {'Citigroup': 51, 'Allianz': 180}
gaming = {'Sony': 76, 'Nintendo': 470, 'EA': 135}
 
stocks = ChainMap(techs, finance, gaming)
print(sorted(list(stocks.keys())))

In [ ]:
from collections import ChainMap
 
 
default_settings = {'mode': 'eco', 'power_level': 7}
user_settings = {'mode': 'sport', 'power_level': 10}
 
settings = ChainMap(user_settings, default_settings)
print(settings['mode'])

In [ ]:
from collections import ChainMap
 
 
default_settings = {'mode': 'eco', 'power_level': 7}
user_settings = {}
 
settings = ChainMap(user_settings, default_settings)
print(settings['mode'])

In [ ]:
from collections import namedtuple
 
 
Point = namedtuple(typename='Point', field_names=['x', 'y'])
 
pt1 = Point(3, 4)
pt2 = Point(-2, 6)
 
print(pt1)
print(pt2)

In [ ]:
from collections import namedtuple
 
 
Point = namedtuple(typename='Point', field_names=['x', 'y'])
 
pt1 = Point(3, 4)
pt2 = Point(-2, 6)
 
avg_pt = Point((pt1.x + pt2.x) / 2.0, (pt1.y + pt2.y) / 2.0)
print(avg_pt)

In [ ]:
from collections import namedtuple
 
 
Student = namedtuple(
    typename='Student', field_names=['name', 'age', 'spec']
)
 
students = [
    Student('Mike', 21, 'physics'),
    Student('Kate', 20, 'mathematics'),
    Student('Bob', 21, 'information technology'),
]
 
for student in students:
    print(f'{student.name:5}: {student.age}: {student.spec}')

In [ ]:
from collections import namedtuple
 
 
Student = namedtuple(
    typename='Student',
    field_names=['name', 'age', 'specialization'],
)
 
students = [
    Student('Mike', 21, 'physics'),
    Student('Mark', 22, 'biology'),
    Student('Kate', 20, 'mathematics'),
    Student('Bob', 21, 'information technology'),
]
 
students.sort(key=lambda student: student.age)
print(students)

In [ ]:
from collections import namedtuple
 
 
Student = namedtuple(
    typename='Student',
    field_names=['name', 'age', 'specialization'],
)
 
st1 = {
    'name': 'Kate',
    'age': 20,
    'specialization': 'mathematics',
}
st2 = {
    'name': 'Mike', 
    'age': 21, 
    'specialization': 'physics'
}
st3 = {
    'name': 'Bob',
    'age': 21,
    'specialization': 'information technology',
}
 
students = [Student(**st1), Student(**st2), Student(**st3)]
 
for student in students:
    print(student)

In [ ]:
from collections import namedtuple
 
 
Student = namedtuple(
    typename='Student', 
    field_names=['name', 'age', 'specialization']
)
 
students = []
with open('students.txt', 'r') as file:
    lines = [eval(line.strip()) for line in file.readlines()]
    for line in lines:
        students.append(Student(**line))
 
print(students)

In [ ]:
quotations = {}
print(quotations.get('source', 'NYSE'))
print(quotations)

In [ ]:
quotations = {}
quotations.setdefault('source', 'NYSE')
print(quotations)
quotations.setdefault('source', 'LSE')
print(quotations)
print(quotations['source'])

In [ ]:
data = [
    ('technology', 'Apple'),
    ('gaming', 'Techland'),
    ('finance', 'Berkshire Hathaway'),
    ('gaming', 'EA'),
    ('technology', 'Facebook'),
    ('gaming', 'CD Projekt'),
    ('finance', 'Allianz')
]
 
data_dict = {}
for sector, company in data:
    data_dict.setdefault(sector, []).append(company)
 
print(data_dict)

In [ ]:
from collections import defaultdict
 
 
data = [
    ('technology', 'Apple'),
    ('gaming', 'Techland'),
    ('finance', 'Berkshire Hathaway'),
    ('gaming', 'EA'),
    ('technology', 'Facebook'),
    ('gaming', 'CD Projekt'),
    ('finance', 'Allianz')
]
 
def_dict = defaultdict(list)
for sector, company in data:
    def_dict[sector].append(company)
 
print(def_dict)

In [ ]:
from collections import defaultdict
 
 
data = [
    ('technology', 'Facebook'),        
    ('technology', 'Apple'),
    ('gaming', 'Techland'),
    ('finance', 'Berkshire Hathaway'),
    ('gaming', 'EA'),
    ('gaming', 'EA'),    
    ('technology', 'Facebook'),
    ('gaming', 'CD Projekt'),
    ('finance', 'Allianz')
]
 
def_dict = defaultdict(set)
for sector, company in data:
    def_dict[sector].add(company)
 
print(def_dict)

In [ ]:
from collections import defaultdict
 
 
transactions = [
    ('001', 100),
    ('003', 10),
    ('002', 80),
    ('001', 90),
    ('002', 46),
    ('001', 43),
    ('003', 23),
]
 
def_dict = defaultdict(int)
for user_id, amount in transactions:
    def_dict[user_id] += amount
 
print(def_dict)

In [ ]:
from collections import deque
 
 
daynames = deque(['Tue.', 'Wed.', 'Thu.', 'Fri.', 'Sat.'])
daynames.appendleft('Mon.')
daynames.append('Sun.')
print(daynames)

In [ ]:
from collections import deque
 
 
daynames = deque([
    'Mon.', 
    'Tue.', 
    'Wed.', 
    'Thu.', 
    'Fri.', 
    'Sat.', 
    'Sun.'
])
daynames.rotate(1)
print(daynames)

In [ ]:
from collections import deque
 
 
daynames = deque([
    'Mon.', 
    'Tue.', 
    'Wed.', 
    'Thu.', 
    'Fri.', 
    'Sat.', 
    'Sun.'
])
daynames.rotate(-3)
print(daynames.pop())

In [ ]:
from collections import deque
 
 
daynames = deque([
    'Mon.', 
    'Tue.', 
    'Wed.', 
    'Thu.', 
    'Fri.', 
    'Sat.', 
    'Sun.'
])
daynames.reverse()
print(daynames.popleft())

In [ ]:
from collections import deque
 
 
wishlist = deque()
wishlist.append('003')
wishlist.append('001')
wishlist.append('004')
wishlist.append('002')
wishlist.append('005')
print(wishlist.popleft())

In [ ]:
from collections import deque
 
 
user_ids = ['003', '001', '004', None, '002', '005']
 
wishlist = deque()
for user_id in user_ids:
    if user_id is not None:
        wishlist.append(user_id)
    else:
        wishlist.clear()
 
print(wishlist)

In [ ]:
from collections import deque
 
 
user_ids = ['003', '001', '004', '006', '002', '005']
 
wishlist = deque(maxlen=3)
for user_id in user_ids:
    wishlist.append(user_id)
    print(wishlist)

In [ ]:
from collections import deque
 
 
user_ids = ['003', '001', '004', '002', '005']
 
wishlist = deque(user_ids)
wishlist.extend(['007', '009', '010'])
print(wishlist)