In [3]:
import itertools
 
 
counter = itertools.count()
for i in counter:
    if i > 9:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
counter = itertools.count(start=1, step=2)
for i in counter:
    if i > 9:
        break
    print(i)

1
3
5
7
9

In [5]:
cycle = itertools.cycle([-1, 0, 1])
results = [next(cycle) for _ in range(15)]
for result in results:
    print(result)

-1
0
1
-1
0
1
-1
0
1
-1
0
1
-1
0
1

In [6]:
repeat = itertools.repeat('#')
results = [next(repeat) for _ in range(10)]
for result in results:
    print(result)

#
#
#
#
#
#
#
#
#
#

In [7]:
stocks = [
    "Apple",
    "Microsoft",
    "Amazon",
    "Google",
    "Adidas",
    "Audi",
    "Siemens",
]
 
results = itertools.combinations(stocks, 2)
for result in results:
    print(result)

('Apple', 'Microsoft')
('Apple', 'Amazon')
('Apple', 'Google')
('Apple', 'Adidas')
('Apple', 'Audi')
('Apple', 'Siemens')
('Microsoft', 'Amazon')
('Microsoft', 'Google')
('Microsoft', 'Adidas')
('Microsoft', 'Audi')
('Microsoft', 'Siemens')
('Amazon', 'Google')
('Amazon', 'Adidas')
('Amazon', 'Audi')
('Amazon', 'Siemens')
('Google', 'Adidas')
('Google', 'Audi')
('Google', 'Siemens')
('Adidas', 'Audi')
('Adidas', 'Siemens')
('Audi', 'Siemens')

In [8]:
stocks = [
    "Apple",
    "Microsoft",
    "Amazon",
    "Google",
    "Adidas",
    "Audi",
    "Siemens",
]
 
results = itertools.combinations_with_replacement(stocks, 2)
for result in results:
    print(result)

('Apple', 'Apple')
('Apple', 'Microsoft')
('Apple', 'Amazon')
('Apple', 'Google')
('Apple', 'Adidas')
('Apple', 'Audi')
('Apple', 'Siemens')
('Microsoft', 'Microsoft')
('Microsoft', 'Amazon')
('Microsoft', 'Google')
('Microsoft', 'Adidas')
('Microsoft', 'Audi')
('Microsoft', 'Siemens')
('Amazon', 'Amazon')
('Amazon', 'Google')
('Amazon', 'Adidas')
('Amazon', 'Audi')
('Amazon', 'Siemens')
('Google', 'Google')
('Google', 'Adidas')
('Google', 'Audi')
('Google', 'Siemens')
('Adidas', 'Adidas')
('Adidas', 'Audi')
('Adidas', 'Siemens')
('Audi', 'Audi')
('Audi', 'Siemens')
('Siemens', 'Siemens')

In [9]:
names = ['Bob', 'Mark', 'Guido']
results = itertools.permutations(names)
 
for result in results:
    print(result)
    
 
letters = list('ABCDEFGH')
numbers = [str(i) for i in range(1, 9)]
chessboard = itertools.product(letters, numbers)
chessboard = [''.join(fields) for fields in chessboard]
print(chessboard)

('Bob', 'Mark', 'Guido')
('Bob', 'Guido', 'Mark')
('Mark', 'Bob', 'Guido')
('Mark', 'Guido', 'Bob')
('Guido', 'Bob', 'Mark')
('Guido', 'Mark', 'Bob')
['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8']

In [10]:
tesla = {
    'Close': {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    'Date': {
        0: '2020-07-29',
        1: '2020-07-28',
        2: '2020-07-27',
        3: '2020-07-24',
        4: '2020-07-23',
        5: '2020-07-22',
        6: '2020-07-21',
        7: '2020-07-20',
        8: '2020-07-17',
        9: '2020-07-16',
    },
    'Volume': {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
results = itertools.accumulate(tesla['Volume'].values())
for result in results:
    print(result)

9426893
25235593
41284262
60680878
85009382
99170462
115327742
132449109
141779081
156079866

In [11]:

tesla = {
    'Close': {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    'Date': {
        0: '2020-07-29',
        1: '2020-07-28',
        2: '2020-07-27',
        3: '2020-07-24',
        4: '2020-07-23',
        5: '2020-07-22',
        6: '2020-07-21',
        7: '2020-07-20',
        8: '2020-07-17',
        9: '2020-07-16',
    },
    'Volume': {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
results = itertools.accumulate(tesla['Close'].values(), min)
for result in results:
    print(result)

1499.11
1476.49
1476.49
1417.0
1417.0
1417.0
1417.0
1417.0
1417.0
1417.0

In [12]:

tesla = {
    'Close': {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    'Date': {
        0: '2020-07-29',
        1: '2020-07-28',
        2: '2020-07-27',
        3: '2020-07-24',
        4: '2020-07-23',
        5: '2020-07-22',
        6: '2020-07-21',
        7: '2020-07-20',
        8: '2020-07-17',
        9: '2020-07-16',
    },
    'Volume': {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
results = itertools.accumulate(
    tesla['Close'].values(), lambda x, y: (x + y) / 2
)
for result in results:
    print(result)

1499.11
1487.8
1513.6999999999998
1465.35
1489.21
1540.77
1554.565
1598.7825
1549.81125
1525.225625

In [13]:
stocks_us = ['Apple', 'Microsoft', 'Amazon', 'Google']
stocks_de = ['Adidas', 'Audi', 'Siemens']
 
results = itertools.chain(stocks_us, stocks_de)
for result in results:
    print(result)

Apple
Microsoft
Amazon
Google
Adidas
Audi
Siemens

In [14]:
stocks_us = ['Apple', 'Microsoft', 'Amazon', 'Google']
stocks_de = ['Adidas', 'Audi', 'Siemens']
stocks = [stocks_us, stocks_de]
 
results = itertools.chain.from_iterable(stocks)
for result in results:
    print(result)

Apple
Microsoft
Amazon
Google
Adidas
Audi
Siemens

In [15]:
tesla = {
    'Close': {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    'Date': {
        0: '2020-07-29',
        1: '2020-07-28',
        2: '2020-07-27',
        3: '2020-07-24',
        4: '2020-07-23',
        5: '2020-07-22',
        6: '2020-07-21',
        7: '2020-07-20',
        8: '2020-07-17',
        9: '2020-07-16',
    },
    'Volume': {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
results = itertools.islice(tesla['Date'].values(), 0, None, 2)
for result in results:
    print(result)

2020-07-29
2020-07-27
2020-07-23
2020-07-21
2020-07-17

In [16]:
import string

results = itertools.islice(string.ascii_lowercase, 0, None)
print(list(results))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [17]:
stocks = [
    "Apple",
    "Microsoft",
    "Amazon",
    "Google",
    "Adidas",
    "Audi",
    "Siemens",
]
stocks_flag = [name.startswith('A') for name in stocks]
 
results = itertools.compress(stocks, stocks_flag)
for result in results:
    print(result)

Apple
Amazon
Adidas
Audi

In [18]:
tesla = {
    'Close': {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    'Date': {
        0: '2020-07-29',
        1: '2020-07-28',
        2: '2020-07-27',
        3: '2020-07-24',
        4: '2020-07-23',
        5: '2020-07-22',
        6: '2020-07-21',
        7: '2020-07-20',
        8: '2020-07-17',
        9: '2020-07-16',
    },
    'Volume': {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
results = itertools.filterfalse(
    lambda price: price >= 1500, tesla['Close'].values()
)
for result in results:
    print(result)

1499.11
1476.49
1417.0

In [19]:

 
tesla = {
    'Close': {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    'Date': {
        0: '2020-07-29',
        1: '2020-07-28',
        2: '2020-07-27',
        3: '2020-07-24',
        4: '2020-07-23',
        5: '2020-07-22',
        6: '2020-07-21',
        7: '2020-07-20',
        8: '2020-07-17',
        9: '2020-07-16',
    },
    'Volume': {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
results = itertools.takewhile(
    lambda price: price <= 1600, tesla['Close'].values()
)
for result in results:
    print(result)

1499.11
1476.49
1539.6
1417.0
1513.07
1592.33
1568.36

In [20]:
stream1 = [0.5, 9.9, 8.53, 4.6, 5.58, 7.07, None, 4.5, 3.61, 9.31]
stream2 = [3.75, 9.51, 7.32, None, 1.56, 1.56, 0.58, 8.66, 6.01, 7.08]
 
results = itertools.chain(
    itertools.takewhile(bool, stream1), 
    itertools.takewhile(bool, stream2)
)
for result in results:
    print(result)

0.5
9.9
8.53
4.6
5.58
7.07
3.75
9.51
7.32

In [21]:
tesla = {
    'Close': {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    'Date': {
        0: '2020-07-29',
        1: '2020-07-28',
        2: '2020-07-27',
        3: '2020-07-24',
        4: '2020-07-23',
        5: '2020-07-22',
        6: '2020-07-21',
        7: '2020-07-20',
        8: '2020-07-17',
        9: '2020-07-16',
    },
    'Volume': {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
results = itertools.dropwhile(
    lambda price: price <= 1500, tesla['Close'].values()
)
for result in results:
    print(result)

1539.6
1417.0
1513.07
1592.33
1568.36
1643.0
1500.84
1500.64

In [24]:
from itertools import zip_longest

eurusd = [1.18425, 1.17928, 1.17211, 1.17505]
revenues = [20000, 21000, 20500, 18000, 22000, 25000]
 
for rate, revenue in zip(eurusd, revenues):
    print(rate, revenue)
    
    

eurusd = [1.18425, 1.17928, 1.17211, 1.17505]
revenues = [20000, 21000, 20500, 18000, 22000, 25000]
 
for rate, revenue in itertools.zip_longest(eurusd, revenues):
    print(rate, revenue)
    


eurusd = [1.18425, 1.17928, 1.17211, 1.17505]
revenues = [20000, 21000, 20500, 18000, 22000, 25000]
 
for rate, revenue in zip_longest(eurusd, revenues, fillvalue=1.17):
    print(rate, revenue)
    

values = [(44, 7), (57, 6), (10, 3)]
 
for val in itertools.starmap(lambda x, y: x % y, values):
    print(val)

1.18425 20000
1.17928 21000
1.17211 20500
1.17505 18000
1.18425 20000
1.17928 21000
1.17211 20500
1.17505 18000
None 22000
None 25000
1.18425 20000
1.17928 21000
1.17211 20500
1.17505 18000
1.17 22000
1.17 25000
2
3
1

In [25]:
tesla = {
    "Close": {
        0: 1499.11,
        1: 1476.49,
        2: 1539.6,
        3: 1417.0,
        4: 1513.07,
        5: 1592.33,
        6: 1568.36,
        7: 1643.0,
        8: 1500.84,
        9: 1500.64,
    },
    "Date": {
        0: "2020-07-29",
        1: "2020-07-28",
        2: "2020-07-27",
        3: "2020-07-24",
        4: "2020-07-23",
        5: "2020-07-22",
        6: "2020-07-21",
        7: "2020-07-20",
        8: "2020-07-17",
        9: "2020-07-16",
    },
    "Volume": {
        0: 9426893,
        1: 15808700,
        2: 16048669,
        3: 19396616,
        4: 24328504,
        5: 14161080,
        6: 16157280,
        7: 17121367,
        8: 9329972,
        9: 14300785,
    },
}
 
for val in itertools.starmap(
    lambda x, y: round(x / (y / 1000), 6),
    zip(tesla["Close"].values(), tesla["Volume"].values()),
):
    print(val)

0.159025
0.093397
0.095933
0.073054
0.062193
0.112444
0.097068
0.095962
0.160862
0.104934

In [ ]:
data = [1, 5, 3, 4, 6, 9, 3]
 
grouped_data = itertools.groupby(
    data, key=lambda x: 'even' if x % 2 == 0 else 'odd'
)
 
for key, group in grouped_data:
    print(f'{key} -> {list(group)}')
    

data = [1, 5, 3, 4, 6, 9, 3]
 
func = lambda x: 'even' if x % 2 == 0 else 'odd'
sorted_data = sorted(data, key=func)
grouped_data = itertools.groupby(sorted_data, key=func)
 
for key, group in grouped_data:
    print(f'{key} -> {list(group)}')

In [ ]:
fnames = [
    "01_image.jpg",
    "02_image.png",
    "03_image.jpg",
    "04_image.jpg",
    "05_image.jpg",
    "06_image.png",
    "07_image.jpg",
    "08_image.jpg",
]
 
func = lambda fname: "jpg" if fname.endswith("jpg") else "png"
sorted_data = sorted(fnames, key=func)
grouped_data = itertools.groupby(sorted_data, key=func)
 
for key, group in grouped_data:
    print(f"{key} -> {list(group)}")

In [ ]:
fnames = [
    "01_image.jpg",
    "02_image.png",
    "03_image.jpg",
    "04_image.jpg",
    "05_image.jpg",
    "06_image.png",
    "07_image.jpg",
    "08_image.png",
    "09_image.svg",
    "10_image.svg",
    "11_image.jpeg",
    "12_image.jpeg",
]
 
func = lambda fname: fname.split(".")[-1]
sorted_data = sorted(fnames, key=func)
grouped_data = itertools.groupby(sorted_data, key=func)
 
for key, group in grouped_data:
    print(f"{key} -> {len(list(group))}")

In [ ]:
fnames = [
    "01_image.jpg",
    "02_image.png",
    "03_image.jpg",
    "04_image.jpg",
    "05_image.jpg",
    "06_image.png",
    "07_image.jpg",
    "08_image.png",
    "09_image.svg",
    "10_image.svg",
    "11_image.jpeg",
    "12_image.jpeg",
]
 
func = lambda fname: fname.split(".")[-1]
sorted_data = sorted(fnames, key=func)
grouped_data = itertools.groupby(sorted_data, key=func)
 
for key, group in grouped_data:
    print(f"{key} -> {round(100 * len(list(group)) / len(fnames), 2)}%")

In [ ]:
data = [
    {"user": "0032", "level": 70},
    {"user": "0034", "level": 74},
    {"user": "0233", "level": 71},
    {"user": "0532", "level": 70},
    {"user": "0634", "level": 74},
    {"user": "0245", "level": 70},
    {"user": "0235", "level": 70},
    {"user": "0255", "level": 71},
]
 
func = lambda row: row["level"]
sorted_data = sorted(data, key=func)
grouped_data = itertools.groupby(sorted_data, key=func)
 
for key, group in grouped_data:
    print(f"{key} -> {list(group)}")

In [ ]:
data = [
    {"user": "0032", "level": 70},
    {"user": "0034", "level": 74},
    {"user": "0233", "level": 71},
    {"user": "0532", "level": 70},
    {"user": "0634", "level": 74},
    {"user": "0245", "level": 70},
    {"user": "0235", "level": 70},
    {"user": "0255", "level": 71},
]
 
func = lambda row: row["level"]
sorted_data = sorted(data, key=func)
grouped_data = itertools.groupby(sorted_data, key=func)
 
for key, group in grouped_data:
    print(f"{key} -> ", end="")
    print([user["user"] for user in group])

In [ ]:
iterator = itertools.product('abc', [1, 2, 3])
iter1, iter2 = itertools.tee(iterator, 2)
 
print(list(iter1))
print(list(iter2))


def pairwise(iterable):
    a, b = itertools.tee(iterable)
    next(b)
    return zip(a, b)
 
 
print(f'[3, 5, 1, 8, 9, 4] -> {list(pairwise([3, 5, 1, 8, 9, 4]))}')
print(
    f"['a', 'b', 'c', 'd', 'e'] -> "
    f"{list(pairwise(['a', 'b', 'c', 'd', 'e']))}"
)
print(f"'Python' -> {list(pairwise('Python'))}")


def make_three(iterable):
    iter1, iter2, iter3 = itertools.tee(iterable, 3)
    next(iter3)
    return zip(
        itertools.chain([None], iter1),
        iter2,
        itertools.chain(iter3, [None]),
    )
 
 
print(f'[1, 2, 3, 4] -> {list(make_three([1, 2, 3, 4]))}')
print(
    f"['a', 'b', 'c', 'd', 'e'] -> "
    f"{list(make_three(['a', 'b', 'c', 'd', 'e']))}"
)
print(f"'Python' -> {list(make_three('Python'))}")